:root {
    --dark-blue: rgb(28, 39, 100);
    --yellow: #d4af36;
    --white: #fff;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --tan: #E2E2D3;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 px
}

body {
    font-family: "Times New Roman", serif;
    overflow-x: hidden;
}

a {
    position: relative;
  }
  
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: var(--white);
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }