.header {
    
    &__main {
        position: relative;
        width: 100%;
        height: 80vh;
        object-fit: cover;

        @media only screen and (max-width: 800px) {
            height: 65vh;
        }

        &-content {
            position: absolute;
            z-index: 10;
            width: 30rem;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(28, 39, 100, .8);          
            border-top: 3px solid var(--yellow);
            border-bottom: 3px solid var(--yellow);
            border-left: 3px solid var(--yellow);
            border-radius: 10px 0 0 10px;
            padding: 2rem 10rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media only screen and (max-width: 1100px) {
                padding: 2rem 5rem;
             }

            @media only screen and (max-width: 800px) {
               position: relative;
               width: 100%;
               background-color: var(--dark-blue);
               transform: translateY(0);
               border: none;
               border-radius: 0;
            }

            &-text {
                color: var(--white);
                text-align: right;
                font-size: 2.5rem;

                @media only screen and (max-width: 800px) {
                    text-align: center;
                 }
            }
        }
    }
}

.about {
    padding: 10rem 10rem;
    display: flex;
    position: relative;

    @media only screen and (max-width: 1100px) {
        padding: 10rem 5rem;
        flex-direction: column;
     }
     @media only screen and (max-width: 450px) {
        padding: 5rem 2rem;
     }
    &__left {
        width: 66.6%;
        padding-right: 5rem;

        @media only screen and (max-width: 1100px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 5rem;
         }
        
        &-container {
           p:not(:last-child) {
               margin-bottom: 2rem;
           }
        }
    }

    &__right {
        width: 33.3%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media only screen and (max-width: 1100px) {
            width: 100%;
            justify-content: center;
         }

        &-container {
            display: flex;
            flex-direction: column;
            background-color: var(--dark-blue);
            color: var(--white);
            padding: 2.5rem;
            border: 4px solid var(--yellow);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        &-row {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
            p {
                margin-left: 2.5rem;
                font-size: 2rem;
                font-weight: 700;
                color: var(--white);
            }
            svg {
                width: 4rem !important;
                height: 3rem;
                color: var(--yellow);
            }
        }
    }
}

.bio {
    width: 100%;
    background-color: var(--tan);
    display: flex;
    position: relative;

    

    &__content {
        display: flex;

        @media only screen and (max-width: 1100px) {
            flex-direction: column;
            padding: 5rem;
         }

         @media only screen and (max-width: 450px) {
            padding: 5rem 2rem;
         }

        &-left {
            padding: 10rem 2.5rem 10rem 10rem;
            position: relative;

            @media only screen and (max-width: 1100px) {
                padding: 0;
                margin: 0 auto 5rem auto;
             }

            &-img {
                border: 4px solid var(--yellow);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &-right {
            padding: 10rem 10rem 10rem 2.5rem;
            flex-basis: 66%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media only screen and (max-width: 1100px) {
                padding: 0;
                
             }
        }
    }
}

.main {
    padding: 5rem 10rem;
    background-color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 1100px) {
        padding: 5rem 5rem;
     }

     @media only screen and (max-width: 450px) {
        padding: 5rem 2rem;
     }

    &__container {

        width: 100%;
        a:hover {
            &::before {
                display: none;
            }
        }
        p {
            a:hover {
                &::before {
                    display: none;
                }
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        ul {
            list-style: none;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            li {

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
                &::before {
                    content: "\2022";
                    color: var(--yellow);
                    font-weight: bold;
                    display: inline-block;
                    width: 25px;
                    margin-left: -25px;
                    @media only screen and (max-width: 450px) {
                        width: 1rem;
                        margin-left: -1rem;
                     }
                }
            }
        }

        span {
            font-weight: 700;
            margin-top: 2rem;
        }

        &-imgs {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            padding: 0 0 2rem 0;
            &-wrapper {
                max-width: 30rem;
                img {
                    width: 100%;
                    height: auto;
                    border: 3px solid var(--yellow);
                }
            }

            
        }

        &-content {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}

.contact {
    
    height: 100rem;
    width: 100%;
    background-color: var(--tan);
    padding: 5rem 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    @media screen and (max-width:1100px) {
        padding: 5rem;
    }

    @media screen and (max-width:1100px) {
        padding: 5rem 2rem;
    }

    &__title {
        text-align: center;
        width: 100%;
        
        h2 {
            color: var(--dark-blue);
            font-size: 3.5rem;
            font-weight: 700;
        }

        h3 {
            color: #5c5c5c;
            font-size: 2rem;
        }
    }

    &__disc {
        margin-bottom: 5rem;
        font-size: 2rem;
        color: var(--yellow);
    }

    &__form {
        
        
    }

    &__side {

        position: absolute;
        transition: all .8s ease;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        background-color: var(--dark-blue);
        padding: 5rem;
        width: 100%;
        height: 60rem;

        &-front {

        }
        &-back {
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1 {
                color: var(--yellow);
                font-size: 4rem;
                margin-bottom: 2rem;
            }
            p {
                color: var(--white);
                font-size: 2rem;
            }
        }
    }
}

.pa {

    &-row {
        height: 25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:not(:last-child) {
            border-bottom: 2px solid #bfbfb2;
        }
        

        a {
            text-decoration: none;
            // width: min-content;
            // white-space: nowrap;

            &::before {
                display: none;
            }

            &:hover h1 {
                color: var(--yellow);
                transition: color .2s ease-in-out;
            }
        }
    }

}